html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

.banner {
  display: flex;
  width: 100%;
  height: 30rem;
  background-image: url(../images/glasses-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  width: 960px;
  height: 3rem;
  background-color: cadetblue;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav span {
  display: flex;
  padding-right: 2rem;
}

.headlineBox {
  display: flex;
  width: 1040px;
  justify-content: flex-end;
}

.headline {
  font-weight: bold;
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}

/*.main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}*/

.main1 {
  display: flex;
  width: 100%;
  height: 14rem;
  justify-content: center;
}

.features {
  display: flex;
  width: 960px;
  height: 100%;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

span {
  text-align: center;
}

#paper {
  width: 3.5rem;
}

#ruler, #truck {
  width: 5rem;
}

.main2 {
  display: flex;
  width: 100%;
  height: 15rem;
  justify-content: center;
}

.philapp {
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.infoblock {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  margin-right: 5%;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

p {
  padding-top: 1rem;
}

footer {
  display: flex;
  width: 100%;
  height: 8rem;
  justify-content: center;
}

.footerbox {
  display: flex;
  width: 960px;
  background-color: azure;
  align-items: center;
}
footer img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
